@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; list-style:none;}
a{ color:#fff; text-decoration: none; }
body{ background:url(../img/bg5.jpg) no-repeat; background-attachment:fixed; background-size:cover;background-position:center;font-family: 'Open Sans','helvetica',arial,sans-serif; font-weight:300; color:#62686f;}
h1,h2,h3,h4,h5,h6{ color:#333;font-weight:300;}
.container{ width:960px; margin:0 auto;}
.main-header{ width:960px; height:105px; background:url(../img/banner.jpg) no-repeat; margin:100px auto 0px;background-size:cover; background-position:50% 50%; position:relative; padding-top:40px; padding-bottom:20px;}
.main-header h1{ display:block; text-align:center; font-weight:300; font-size: 50px; font-family: 'Open Sans','helvetica',arial,sans-serif; text-shadow:0 1px raba(0,0,0,0.3); color:#fff; margin-bottom:20px;}
.main-header__avatar{ width:130px; height:130px; display:block; margin:0 auto; border:3px solid white;border-radius:999px; box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2); position:absolute; top:-70px; left:50%; margin-left:-65px; overflow:hidden;}
.main-nav{ width:960px; height:40px;  margin:0 auto; background:#333; line-height:40px;}
.main-nav-move{ position:fixed; top:0; left:50%; margin-left:-480px; z-index:999;}
.main-nav ul{ width:320px; margin:0 auto;}
.main-nav ul li{ display:inline-block; margin-left:18px; font-size: 16px; text-align:center;}
.main-nav ul li a{ color:#fff; font-weight:300;}
.main-nav ul li a:hover{ text-decoration:underline;}
.info-section{ background-color: #fff; padding:30px 60px; border-bottom:1px solid #ccc;}
.info-section h2{ text-align:center; font-size:28px; text-transform:uppercase; letter-spacing:3px;}
.info-section h2:after{ content:""; display:block; width:10%;border-bottom: 3px solid black; margin:10px auto;}
.info-section__description{ font-style: italic; margin-top:20px;}
.info-section header{ margin-bottom:60px; text-align:center; }
.info-section header p{ color:#19582E;}
.whatido{ height:400px;}
.whatido__skill--code,.whatido__skill--design,.whatido__skill--product{ height:100px; background-position: center top; background-repeat:no-repeat;}
.whatido__skill--code{ background-image:url(../img/skill-code.png);}
.whatido__skill--design{ background-image:url(../img/skill-design.png);}
.whatido__skill--product{ background-image:url(../img/skill-product.png);}
.whatido__skill{ height:150px; width:33.3%; float:left; text-align:center; padding-top:130px}
.whatido__skill p{ margin-top:20px; color:#19582E;}
.education-experience__list li{ display:inline-block; padding:50px 0;}
.education-experience__list img{width:180px; height:180px; float:left;}
.education-experience__list .Strikingly, .education-experience__list .Rocket, .education-experience__list .University{}
.education-experience__list__description{ overflow:hidden; float:left; width:580px; margin-left:60px;} 
.education-experience__list__description h3{}
.education-experience__title{ margin:16px 0; font-weight:bold;}
.photos__list{ width:840px; height:338px;}
.photos__list li{ display:inline-block; }
.photos__list_img{box-sizing:border-box; width:25%; float:left; padding:10px;}
.photos__list_img img{ width:100%;}
.get-in-touch__list{ text-align:center;}
.get-in-touch__list li{ display:inline-block; margin:0 20px;}
.get-in-touch__list li p{ margin-top:20px;}

.form{ width:300px; height:360px; margin:0 auto; text-align:center; z-index:1;}
.input{ margin-bottom:20px; position:relative;}
#name,#email,#message{ width:300px; padding:10px; resize:none; border-radius:2px; border:none; border:1px solid #ccc;}
.outside{ margin-right:20px; width:200px; position:absolute; right:100%;text-align:right; margin-top:15px;}
.input_button{ width:300px; height:36px; border-radius:999px; border:none; background:#FF7A7C; color:#fff;}